body {
  background: #121226;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[readonly] {
  pointer-events: none;
}

input[type=checkbox] {
  display: none;
}

textarea[readonly] {
  pointer-events: none;
}

.modal-dialog {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) !important;
  width: 300px;
}

.modal-header {
  background: rgb(0, 151, 136);
  display: flex;
  border: none;
}

.modal-title {
  flex: 1;
  color: #EEE;
  font-size: 20px;
  font-family: Impact, fantasy;
}

.close {
  opacity: 1;
  width: 30px;
  color: #EEE;
}

.modal-body {
  background: #CCC;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-top: 1px;
  padding-bottom: 0;
  font-family: fantasy;
}
.modal-body textarea {
  height: 154px;
  resize: none;
}
.modal-body p {
  margin: 10px 0px 0px 0px;
}

.invalid-feedback {
  color: red;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  background: #CCC;
  padding: 15px 0 15px 15px;
  margin-top: 0px;
  border: none;
}
.modal-footer button {
  width: 65px;
}

.header {
  background: #006168;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  color: #EEE;
}
.header form {
  margin-right: 5%;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 5%;
  white-space: nowrap;
  height: 34px;
  font-size: 30px;
  font-family: fantasy;
}

.logout {
  background: #680000;
  width: 170px;
  height: 40px;
  border: 1px #005158 solid;
  border-radius: 5px;
  font-size: 20px;
  font-family: fantasy;
  letter-spacing: 3px;
}
.logout:hover {
  background: #880000;
  color: #333;
}

.success-message {
  background: #ffff00;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.6;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 15px;
}

.close-success-message {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  text-align: center;
  transition: all 200ms;
}
.close-success-message:hover {
  background: #EEE;
  color: #666;
}

.menu {
  background: #EEE;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 391px;
  margin-top: 100px;
}

.class {
  position: absolute;
  background: #EEE;
  left: 50%;
  transform: translate(-50%, -100%) translateY(-9px);
  width: 50%;
  padding: 5px 10px 0px 10px;
  border: 1px rgb(0, 151, 136) solid;
  border-radius: 100px 100px 0px 0px;
  color: rgb(0, 151, 136);
  text-align: center;
  font-size: 30px;
  font-family: Impact, fantasy;
}

.menu-header {
  background: rgb(0, 151, 136);
  display: flex;
  align-items: center;
  padding: 15px;
}
.menu-header h5 {
  flex: 1;
}

.return {
  background: #EEE;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 120px;
  height: 40px;
  border: 1px solid rgb(0, 151, 136);
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-family: Impact, fantasy;
  transition: all 0.2s;
}
.return:visited {
  text-decoration: none;
}
.return:hover {
  text-decoration: none;
}
.return:active {
  text-decoration: none;
}
.return:hover {
  background: rgb(0, 151, 136);
  border: 1px solid #EEE;
  color: #EEE;
}

.menu-title {
  margin: 0;
  color: #EEE;
  font-size: 26px;
  font-family: Impact, fantasy;
}

.menu-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 10px 10px 0 10px;
}

.student-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
  font-family: Impact, fantasy;
}
.student-info p {
  width: 50%;
}

.align-right {
  text-align: end;
}

.student-grades-div {
  flex: 1;
  min-width: 220px;
  max-width: 261px;
  height: 220px;
  padding: 10px;
}

.student-grades {
  background: rgb(204, 204, 204);
  display: flex;
  align-content: flex-start;
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 1px;
  list-style-type: none;
  height: 90%;
  padding: 10px;
  margin-top: 10px;
}

.grade {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #EEE;
}
.grade button {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.grade p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  font-size: 20px;
  color: #EEE;
  font-family: Impact, fantasy;
}

.grade1 {
  background: #680000;
  transition: all 100ms;
}
.grade1:hover {
  background: #990000;
}

.grade2 {
  background: #884400;
  transition: all 100ms;
}
.grade2:hover {
  background: #995500;
}

.grade3 {
  background: #888800;
  transition: all 100ms;
}
.grade3:hover {
  background: #999900;
}

.grade4 {
  background: #558855;
  transition: all 100ms;
}
.grade4:hover {
  background: #669966;
}

.grade5 {
  background: #116811;
  transition: all 100ms;
}
.grade5:hover {
  background: #228822;
}

.grade6 {
  background: #111188;
  transition: all 100ms;
}
.grade6:hover {
  background: #2222AA;
}

.grade-highlight {
  background: rgb(0, 121, 106);
  border: 1px rgb(204, 204, 204) solid;
}
.grade-highlight:hover {
  background: rgb(0, 151, 136);
}

.grade-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding: 10px 10px 0 10px;
}
.grade-info textarea {
  background: #CCC;
  flex: 1;
  resize: none;
  width: 100%;
  padding: 10px;
  border: none;
}
.grade-info textarea:focus {
  box-shadow: none;
  outline: none;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px 15px 20px;
}

button {
  width: 105px;
  height: 34px;
  border: none;
  border-radius: 5px;
  color: #EEE;
  font-size: 14px;
}
button:hover {
  color: #333;
}

.add {
  background: #006800;
  border: 1px #006800 solid;
}
.add:hover {
  background: #117811;
}
.add:focus {
  background: #118811;
}

.delete {
  background: #680000;
  border: 1px #680000 solid;
}
.delete:hover {
  background: #880000;
}
.delete:focus {
  background: #990000;
}/*# sourceMappingURL=edit-student.css.map */