<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="../static/styles/css/choose-account.css" th:href="@{styles/css/choose-account.css}">
    <script defer src="../static/js/chooseAccount.js" th:src="@{/js/chooseAccount.js}"></script>
</head>
<body>
    <div class="header">
        <div class="logo">Dziennik Elektroniczny</div>
    </div>
    <div class="container">
        <div class="menu">
            <ul class="myUl">
                <li><a href="/student-panel">
                    <button class="button-select student first">Zaloguj się jako uczeń</button>
                </a></li>
                <li><a href="/teacher-panel">
                    <button class="button-select teacher">Zaloguj się jako nauczyciel</button>
                </a></li>
                <li><a href="/login">
                    <button class="button-select principal">Zaloguj się jako dyrektor</button>
                </a></li>
            </ul>
            <div class="side-bar">
                <img src="../static/images/student.png" th:src="@{/images/student.png}">
                <img src="../static/images/teacherW.png" th:src="@{/images/teacherW.png}">
                <img src="../static/images/principalW.png" th:src="@{/images/principalW.png}">
            </div>
        </div>
    </div>
</body>
</html>