<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="../static/styles/chooseAccount.css">
    <script src="../static/js/chooseAccount.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo">Dziennik Elektroniczny</div>
    </div>
    <div class="container">
        <div class="menu">
            <ul class="myUl">
                <li><a href="file:///C:/Users/user/Desktop/Projekt%20prog/Strona.html">
                    <button class="button-select student first">Zaloguj się jako uczeń</button>
                </a></li>
                <li><a href="/b">
                    <button class="button-select teacher">Zaloguj się jako nauczyciel</button>
                </a></li>
                <li><a href="/c">
                    <button class="button-select principal">Zaloguj się jako dyrektor</button>
                </a></li>
            </ul>
            <div class="side-bar">
                <img src="../static/images/student.png">
                <img src="../static/images/teacherW.png">
                <img src="../static/images/principalW.png">
            </div>
        </div>
    </div>
</body>
</html>