<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/css/edit-student.css" th:href="@{/styles/css/edit-student.css}">
    <script defer src="../static/js/editStudent.js" th:src="@{/js/editStudent.js}"></script>
</head>

<body>
<div class="modal fade" id="add-grade-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj ocenę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="gradeAdd">
      <form novalidate th:object="${gradeAddDto}" method="post" class="modal-body" th:action="@{/edit-student/add-grade}">

          <input type="hidden" id="add-grade-subject-id" name="subjectId" th:field="*{subjectId}" >
          <input type="hidden" id="add-grade-student-id" name="studentId" th:field="*{studentId}" >

        <p>Wartość:</p>
            <select th:field="*{numericalValue}" class="form-control">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
                <option value="5" >5</option>
                <option value="6" >6</option>
            </select>
          <label for="add-grade-description" class="form-label">Grade description</label>
          <textarea maxlength="175" th:field="*{description}"  class="form-control" th:errorclass="is-invalid" id="add-grade-description"></textarea>
          <div id="validation-add-grade-description" class="invalid-feedback" th:errors="*{description}">
              Please enter a description !
          </div>
        <div class="modal-footer">
          <button type="button" class="delete add-grade-cancel" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="add">Dodaj</button>
        </div>
      </form>
        </div>
    </div>
  </div>
</div>

<div class="header">
    <div class="logo">Dziennik Elektroniczny</div>
    <form th:action="@{/logout}" method="get">
      <button type="submit" class="logout">Wyloguj</button>
    </form>
</div>

<div th:if="${addGradeSuccessMessage}" class="success-message">
  <span class="centered-text">Pomyslnie dodano ocenę!</span>
  <button class="close-success-message">&times;</button>
</div>

<form method="post" th:object="${grade}" novalidate>

<div class="menu">
    <div class="menu-header">
        <div class="class" th:text="${subject.name}">Matematyka</div>
        <h5 class="menu-title">Informacje o uczniu</h5>
    </div>
    <div class="menu-body">
        <div class="student-info"><p id="studentName" th:text="${'Imię:' + ' ' + student.getName()}">Imię: </p><p id="studentParentNumber" th:text="${'Tel rodzica:' + ' ' + student.getParent_number()}">Tel rodzica: </p>
            <p id="studentSurname" th:text="${'Nazwisko:' + ' ' + student.getSurname()}">Nazwisko: </p>
        </div>
        <div class="student-grades-div">Oceny:
            <ul class="student-grades">
                <li class="grade" th:each="grade : ${grades}" th:data-grade-description="${grade.getDescription()}">
                    <button type="button" onclick="setGradeDescription(this)" >
                        <input type="checkbox" name="selectedGradesId" th:value="${grade.id}">
                        <p  th:text="${grade.getNumericalValue()}">3</p>
                    </button>
                </li>
            </ul>
        </div>
        <div class="grade-info">
            <p>Informacja o ocenie:</p>
            <textarea   wrap="soft"  class="form-control-plaintext grade-description" id="grade-description" readonly></textarea>
            <input type="hidden" name="subjectId" th:value="${subject.getId()}" />
            <input type="hidden" name="studentId" th:value="${student.getId()}"/>
        </div>
    </div>
    <div class="menu-footer" th:data-student-id="${student.getId()}" th:data-subject-id="${subject.getId()}">
        <button type="submit" th:formaction="'/edit-student/deleteGrade'" class="delete">Usuń ocenę</button>
        <button onclick="setSubjectIdAndStudentIdForAddGrade(this)" type="button" class="add" data-toggle="modal" data-target="#add-grade-modal">Dodaj ocenę</button>
    </div>
</div>


</form>

<!--<script>-->
<!--    function setSubjectIdAndStudentIdForAddGrade(button) {-->
<!--        var subjectId = button.parentNode.getAttribute("data-subject-id");-->
<!--        var studentId = button.parentNode.getAttribute("data-student-id");-->
<!--        document.getElementById("add-grade-subject-id").value = subjectId;-->
<!--        document.getElementById("add-grade-student-id").value = studentId;-->
<!--    }-->

<!--    function setGradeDescription(button) {-->
<!--        var gradeDescription = button.parentNode.getAttribute("data-grade-description");-->
<!--        var gradeDescriptionElement = document.getElementById("grade-description");-->

<!--        if (button.classList.contains("clicked")) {-->
<!--            button.classList.remove("clicked");-->
<!--            gradeDescriptionElement.value = "";-->
<!--        } else {-->
<!--            var clickedButton = document.querySelector(".grade button.clicked");-->
<!--            if (clickedButton) {-->
<!--                clickedButton.classList.remove("clicked");-->
<!--            }-->
<!--            button.classList.add("clicked");-->
<!--            gradeDescriptionElement.value = gradeDescription;-->
<!--        }-->
<!--    }-->


<!--</script>-->

</body>
</html>