<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/css/edit-student.css" th:href="@{/styles/css/edit-student.css}">
    <script defer src="../static/js/editStudent.js" th:src="@{/js/editStudent.js}"></script>
</head>

<body>
<form method="post">

<div class="menu">
    <div class="menu-header">
        <h5 class="menu-title">Informacje o uczniu</h5>
    </div>
    <div class="menu-body">
        <div class="student-info"><p id="studentName" th:text="${'Imię:' + ' ' + student.getName()}">: </p><p id="studentSurname" th:text="${'Nazwisko:' + ' ' + student.getSurname()}">Nazwisko: </p><p id="studentParentNumber" th:text="${'Tel rodzica:' + ' ' + student.getParent_number()}">Tel rodzica: </p>
        </div>
        <div class="student-grades-div">Oceny:
            <ul class="student-grades" th:each="grade : ${grades}">
                <li>
                    <input type="checkbox" name="selectedGradesId" th:value="${grade.id}">
                    <p  th:text="${grade.getNumericalValue()}">3</p>
                </li>
            </ul>
        </div>
        <div class="grade-info">
            <p class="first">Wartość:</p>
            <input type="text" name="gradeValue" class="form-control grade-value">
            <p>Opis:</p>
            <textarea  name="gradeDescription" wrap="soft"  class="form-control grade-description"></textarea>
            <input type="hidden" name="subjectId" th:value="${subject.getId()}" />
            <input type="hidden" name="studentId" th:value="${student.getId()}"/>
        </div>
    </div>
    <div class="menu-footer">
        <div class="grade-editor">
            <button type="submit" th:formaction="'/teacher-panel/deleteGrade'" class="delete-grade">Usuń</button>
            <button type="submit" th:formaction="'/teacher-panel/addGrade'"  class="add-grade" data-toggle="modal" data-target="#add-edit-grade-modal">Dodaj</button>
            <!-- <button type="submit" th:formaction="'/teacher-panel/editGrade'" class="edit-grade" data-toggle="modal" data-target="#add-edit-grade-modal">Edytuj</button> -->
        </div>
    </div>
</div>
</div>
</div>
</form>
</body>