<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/css/edit-student.css" th:href="@{/styles/css/edit-student.css}">
    <script defer src="../static/js/editStudent.js" th:src="@{/js/editStudent.js}"></script>
</head>

<body>
<div class="modal fade" id="add-grade-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj ocenę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="gradeAdd"  th:data-student-id="${student.getId()}" th:data-subject-id="${subject.getId()}">
      <form th:object="${grade}" method="post" class="modal-body" action="/add-grade" th:action="@{/teacher-panel/add-grade}">

          <input type="hidden" id="add-grade-subject-id" name="subjectId" th:value="${subject.getId()}">
          <input type="hidden" id="add-grade-student-id" name="studentId" th:value="${student.getId()}">

        <p>Wartość:</p>
            <select th:field="*{numericalValue}" class="form-control">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
                <option value="5" >5</option>
                <option value="6" >6</option>
            </select>
        <p>Opis:</p>
            <textarea th:field="*{description}" type="range" class="form-control"></textarea>
        <div class="modal-footer">
          <button type="button" class="delete" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="add">Dodaj</button>
        </div>
      </form>
        </div>
    </div>
  </div>
</div>

<div class="header">
    <div class="logo">Dziennik Elektroniczny</div>
</div>
<form method="post" th:object="${grade}" novalidate>

<div class="menu">
    <div class="menu-header">
        <div class="class">Matematyka</div>
        <h5 class="menu-title">Informacje o uczniu</h5>
    </div>
    <div class="menu-body">
        <div class="student-info"><p id="studentName" th:text="${'Imię:' + ' ' + student.getName()}">Imię: </p><p id="studentParentNumber" th:text="${'Tel rodzica:' + ' ' + student.getParent_number()}">Tel rodzica: </p>
            <p id="studentSurname" th:text="${'Nazwisko:' + ' ' + student.getSurname()}">Nazwisko: </p>
        </div>
        <div class="student-grades-div">Oceny:
            <ul class="student-grades">
                <li class="grade" th:each="grade : ${grades}">
                    <input type="checkbox" name="selectedGradesId" th:value="${grade.id}">
                    <p  th:text="${grade.getNumericalValue()}">3</p>
                </li>
            </ul>
        </div>
        <div class="grade-info">
            <p>Informacja o ocenie:</p>
            <textarea  th:field="*{description}" wrap="soft"  class="form-control grade-description"></textarea>
            <input type="hidden" name="subjectId" th:value="${subject.getId()}" />
            <input type="hidden" name="studentId" th:value="${student.getId()}"/>
        </div>
    </div>
    <div class="menu-footer">
        <button type="submit" th:formaction="'/teacher-panel/deleteGrade'" class="delete">Usuń ocenę</button>
        <button onclick="setSubjectIdAndStudentIdForAddGrade(this)" type="button" class="add" data-toggle="modal" data-target="#add-grade-modal">Dodaj ocenę</button>
    </div>
</div>


</form>

<script>
    function setSubjectIdAndStudentIdForAddGrade(button) {
        var subjectId = button.parentNode.parentNode.querySelector(".gradeAdd").getAttribute("data-subject-id");
        var studentId = button.parentNode.parentNode.querySelector(".gradeAdd").getAttribute("data-student-id");
        document.getElementById("add-grade-subject-id").value = subjectId;
        document.getElementById("add-grade-student-id").value = studentId;
    }
</script>

</body>
</html>