
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dziennik Elektroniczny</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles/css/headmaster-panel.css" th:href="@{/styles/css/headmaster-panel.css}">
  <script defer src="../static/js/headmasterPanel.js" th:src="@{/js/headmasterPanel.js}"></script>

</head>
<body>
<!-- Modale DO DODAWANIA NAUCZYCIELA PRZEZ DYREKTORA-->
<div class="modal fade" id="add-teacher-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj nauczyciela</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate th:object="${teacherInfo}" th:action="@{/headmaster-panel/add-teacher}" method="post" class="modal-body">
        Imię:
        <input th:field="*{name}" type="text" class="form-control">
        <p id="name-teacher-error"></p>
        Nazwisko:
        <input th:field="*{surname}"  type="text" class="form-control">
        <p id="surname-teacher-error"></p>
        Pensja:
        <input th:field="*{salary}"  type="number" class="form-control">
        <p id="salary-teacher-error"></p>
        Login:
        <input th:field="*{login}"  type="text" class="form-control">
        <p id="login-teacher-error"></p>
        Hasło:
        <input th:field="*{password}" type="password" class="form-control">
        <p id="password-teacher-error"></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary add-teacher-cancel" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>


      <div class="error">
        <ul>
          <li th:each="error: ${errors}">
            <p th:text="${error}"></p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- Modale DO DODAWANIA UCZNIA PRZEZ DYREKTORA-->
<div class="modal fade" id="add-student-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj ucznia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  novalidate th:object="${studentRegisterDto}" th:action="@{/headmaster-panel/add-student}" method="post" class="modal-body">
        <div class="mb-3">
          <label for="studentFirstName" class="form-label">First Name</label>
          <input th:field="*{name}" th:errorclass="is-invalid" type="text" class="form-control" id="studentFirstName">
          <div id="validationFirstName" class="invalid-feedback" th:errors="*{name}">
            Please choose first name !
          </div>
          <!--        <p id="name-student-error"></p>-->
        </div>

        <div class="mb-3">
          <label for="studentLastName" class="form-label">Surname</label>
          <input th:field="*{surname}" th:errorclass="is-invalid"  type="text" class="form-control" id="studentLastName">
          <div id="validationLastName" class="invalid-feedback" th:errors="*{surname}">
            Please choose a last name !
          </div>
          <!--          <p id="surname-student-error"></p>-->
        </div>

        <div class="mb-3">
          <label for="studentParentNumber" class="form-label">Parent number</label>
          <input type="text" th:field="*{parent_number}" th:errorclass="is-invalid" class="form-control" id="studentParentNumber">
          <div id="validationParentNumber" class="invalid-feedback" th:errors="*{parent_number}">
            Please enter a parent number !
          </div>
          <!--          <p id="number-student-error"></p>-->
        </div>

        <div class="mb-3">
          <label for="studentLogin" class="form-label">login</label>
          <input th:field="*{login}" th:errorclass="is-invalid"  type="text" class="form-control" id="studentLogin">
          <div id="validationLogin" class="invalid-feedback" th:errors="*{login}">
            Please choose a login !
          </div>
          <!--          <p id="login-student-error"></p>-->
        </div>

        <div class="mb-3">
          <label for="studentPassword" class="form-label">password</label>
          <input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control" id="studentPassword">
          <div id="validationPassword" class="invalid-feedback" th:errors="*{password}">
            Please choose a password !
          </div>
          <!--          <p id="password-student-error"></p>-->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary add-teacher-cancel" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>


      <div class="error">
        <ul>
          <li th:each="error: ${errors}">
            <p th:text="${error}"></p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div  class="modal fade" id="remove-teacher-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuń przedmiot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąc tego nauczyciela?
        <div class="modal-footer" >
          <form method="post" th:action="@{headmaster-panel/delete-teacher}" >
            <button type="button" class="btn btn-secondary remove-teacher-cancel" data-dismiss="modal">Anuluj</button>
            <input type="hidden" name="teacherId" id="teacherId" />
            <button type="submit" class="btn btn-primary">Usuń</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remove-class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuń przedmiot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąć ten przedmiot?
        <div class="modal-footer">
          <form method="post" th:action="@{headmaster-panel/delete-subject}">
            <input type="hidden" id="subject-delete-subjectid" name="subjectId">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-primary">Usuń</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panel Dyrektora -->
<div class="header">
  <div class="logo">Dziennik Elektroniczny</div>
  <form th:action="@{/logout}" method="get">
    <button type="submit" class="logout">Wyloguj</button>
  </form>
</div>

<div class="container">
  <div class="menu">
    <div class="panel-info">Panel Dyrektora</div>
    <div class="menu-headmaster-info">
      <div th:text="*{currentHeadMaster.getName() + ' ' + currentHeadMaster.getSurname()}">Jan Kowalski</div>
      <button type="button" class="add-someone" title="Dodaj nowego ucznia" data-toggle="modal" data-target="#add-student-modal">
        &#x271A
        <img src="../static/images/student.png" th:src="@{/images/student.png}">
      </button>
      <button type="button" class="add-someone" title="Dodaj nowego nauczyciela" data-toggle="modal" data-target="#add-teacher-modal">
        &#x271A
        <img src="../static/images/teacherW.png" th:src="@{/images/teacherW.png}">
      </button>
    </div>

    <ul class="teachers" >
      <li th:each="teacher : ${teachers}">
        <div class="teacher" th:data-teacher-id="${teacher.getId()}">
          <div th:text="*{teacher.getName() + ' ' + teacher.getSurname()}">Nauczyciel</div>
          <button onclick="setTeacherId(this)" type="button" class="remove" title="Usuń nauczyciela" data-toggle="modal" data-target="#remove-teacher-modal">&#x2716</button>
        </div>

        <ul class="classes" >
          <li th:each="subject : ${teacher.getSubjects()}">
            <div class="class" th:data-subject-id="${subject.getId()}">
              <div class="class-name" th:text="*{subject.getName()}" >Przedmiot</div>
              <button onclick="setSubjectIdForDelete(this)"  type="button" class="remove" title="Usuń przedmiot" data-toggle="modal" data-target="#remove-class-modal">&#x2716</button>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script>
  function setTeacherId(button) {
    var teacherId = button.parentNode.getAttributeNode("data-teacher-id").value;
    document.getElementById("teacherId").value = teacherId;
  }

  function setSubjectIdForDelete(button) {
    var subjectId = button.parentNode.getAttributeNode("data-subject-id").value;
    document.getElementById("subject-delete-subjectid").value = subjectId;
  }

</script>

</body>
</html>
