
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dziennik Elektroniczny</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles/css/headmaster-panel.css" th:href="@{/styles/css/headmaster-panel.css}">
  <script defer src="../static/js/headmasterPanel.js" th:src="@{/js/headmasterPanel.js}"></script>

</head>
<body>
<!-- Modale DO DODAWANIA NAUCZYCIELA PRZEZ DYREKTORA-->
<div class="modal fade" id="add-teacher-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj nauczyciela</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate th:object="${teacherInfo}" th:action="@{/headmaster-panel/add-teacher}" method="post" class="modal-body">
        Imię:
        <input th:field="*{name}" id="name" type="text" class="form-control add-class-input">
        <p th:errors="*{name}" class="error">Błędy związane z imieniem</p>
        Nazwisko:
        <input th:field="*{surname}"  type="text" class="form-control add-class-input">
        Pensja:
        <input th:field="*{salary}"  type="text" class="form-control add-class-input">
        Login:
        <input th:field="*{login}"  type="text" class="form-control add-class-input">
        Hasło:
        <input th:field="*{password}" type="text" class="form-control add-class-input">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="add-class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj przedmiot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class='modal-body' id="add-teacher-form" method="post">

        <input type="hidden" name="subjectId" id="subjectForTeacherId" />

        <select id="class-name" name="teacherId" class="form-control">
          <option ></option>
        </select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div  class="modal fade" id="remove-teacher-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuń przedmiot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąc tego nauczyciela?
        <div class="modal-footer" >
          <form method="post" th:action="@{headmaster-panel/delete-teacher}" >
            <button type="button" class="btn btn-secondary remove-teacher-cancel" data-dismiss="modal">Anuluj</button>
            <input type="hidden" name="teacherId" id="teacherId" />
            <button type="submit" class="btn btn-primary">Usuń</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remove-class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuń przedmiot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąć ten przedmiot?
        <div class="modal-footer">
          <form method="post" th:action="@{headmaster-panel/delete-subject}">
            <input type="hidden" id="subject-delete-subjectid" name="subjectId">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-primary">Usuń</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panel Dyrektora -->
<div class="header">
  <div class="logo">Dziennik Elektroniczny</div>
  <form th:action="@{/logout}" method="get">
    <button type="submit" class="logout">Wyloguj</button>
  </form>
</div>
<div class="container">
  <div class="menu">
    <div class="panel-info">Panel Dyrektora</div>
    <div class="menu-headmaster-info">
      <div th:text="*{currentHeadMaster.getName() + ' ' + currentHeadMaster.getSurname()}">Jan Kowalski</div>
      <button type="button" class="add-teacher" data-toggle="modal" data-target="#add-teacher-modal">
        Dodaj nauczyciela
      </button>
    </div>

    <ul class="teachers" >
      <li th:each="teacher : ${teachers}">
        <div class="teacher" th:data-teacher-id="${teacher.getId()}">
          <div th:text="*{teacher.getName() + ' ' + teacher.getSurname()}">Nauczyciel</div>
          <button   type="button" class="add" data-toggle="modal" data-target="#add-class-modal">&#x271A</button>
          <button onclick="setTeacherId(this)" type="button" class="remove" data-toggle="modal" data-target="#remove-teacher-modal">&#x2716</button>
        </div>

        <ul class="classes" >
          <li th:each="subject : ${teacher.getSubjects()}">
            <div class="class" th:data-subject-id="${subject.getId()}">
              <div class="class-name" th:text="*{subject.getName()}" >Przedmiot</div>
              <button onclick="setSubjectIdForDelete(this)"  type="button" class="remove" data-toggle="modal" data-target="#remove-class-modal">&#x2716</button>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script>
  function setTeacherId(button) {
    var teacherId = button.parentNode.getAttributeNode("data-teacher-id").value;
    document.getElementById("teacherId").value = teacherId;
  }

  function setSubjectIdForDelete(button) {
    var subjectId = button.parentNode.getAttributeNode("data-subject-id").value;
    document.getElementById("subject-delete-subjectid").value = subjectId;
  }

</script>

</body>
</html>
