<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gradebook</title>
</head>
<body>
  <h1>LANDING PAGE</h1>
  <form novalidate th:object="${emailDto}" th:action="@{/send-mail}" method="post" class="modal-body">
      Podaj swój email:
      <input th:field="*{fromEmail}" type="text" >
      <p id="fromEmail"></p>
      Podaj temat zapytania:
      <input th:field="*{subject}"  type="text" >
      <p id="subject"></p>
      Podaj treść zapytania:
      <textarea th:field="*{body}" ></textarea>
      <p id="body"></p>

      <button type="submit">
          WYŚLIJ
      </button>
  </form>

</body>
</html>