<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
        <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
    </head>

    <body>
        <div class="header">
            <div class="logo">Dziennik Elektroniczny</div>

        </div>
        <div class="container">
            <form th:action="@{/login}" class="userLoggingForm" method="post" th:object="${user}">
            <div class="login-form">
                <img src="../static/images/teacherW.png" th:src="@{images/teacherW.png}">
                <p class="first">Wpisz swój adres e-mail</p>
                <input name="login" type="text" class="email" placeholder="Wpisz e-mail">
                <p>Wpisz swoje hasło</p>
                <input name= "password" class="password" placeholder="Wpisz hasło">
                <button type="submit" class="login-button">Zaloguj</button>
            </div>
            </form>
        </div>

    </body>
</html>