<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/css/login.css" th:href="@{/styles/css/login.css}">
        <script defer src="../static/js/login.js" th:src="@{/js/login.js}"></script>
    </head>

    <body>
        <div class="header">
            <div class="logo">Dziennik Elektroniczny</div>
        </div>
        <div class="container">
            <form th:action="@{/login}" class="login-form" method="post" th:object="${user}">
                <img class="icon">
                <p class="first">Wpisz swój adres e-mail</p>
                <input name="login" type="text" class="email" placeholder="Wpisz e-mail">
                <p>Wpisz swoje hasło</p>
                <input name="password" class="password" placeholder="Wpisz hasło">
                <button type="submit" class="login-button">Zaloguj</button>
            </form>
        </div>

    </body>
</html>