<!DOCTYPE html>
<html lang="pl"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="../static/styles/styles.css" th:href="@{/styles/styles.css}">
</head>
<body>
    <header>
        <h1>Welcome</h1>
    </header>
<main>
    <div class="form">
        <div class="userForm">
            <h2>Log in as User</h2>
            <form th:action="@{/login}" class="userLoggingForm" method="post" th:object="${user}">
                <div class="input">
                    <p>Login</p>
                    <input type="text" name="username" placeholder="Enter your username">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter your password">
                    <div class="button">
                        <button type="submit">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>