<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/css/student-panel.css" th:href="@{/styles/css/student-panel.css}">
    <script defer src="../static/js/studentPanel.js" th:src="@{/js/studentPanel.js}"></script>

</head>
<body>
<!-- Modale -->
  <div class="modal fade" id="grade-description-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Informacje o ocenie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="grade-info">
              <p class="first">Wartość:</p>
              <input type="text" readonly class="form-control grade-value" id="grade-value">
              <p>Opis:</p>
              <textarea name="text" wrap="soft" readonly class="form-control grade-description" id="grade-description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Panel Ucznia -->
    <div class="header">
      <div class="logo">Dziennik Elektroniczny</div>
      <form th:action="@{/logout}" method="get">
        <button type="submit" class="logout">Wyloguj</button>
      </form>
    </div>
    <div class="container">
        <div class="menu">
          <div class="panel-info">Panel Ucznia</div>
          <div class="menu-student-info">
            <div class="menu-student-info-name" th:text="*{currentStudent.getName() + ' ' + currentStudent.getSurname()}">Jan Kowalski</div>
            <div class="menu-student-info-class">klasa 2C</div>
          </div>
            
            <ul class="classes">
                <li th:each="subject : ${subjects}">
                  <div class="class-container">
                    <div class="class" th:text="*{subject.getName()}">
                      Matematyka
                    </div>
                    <div class="mean"></div>
                  </div>
                    <ul class="grades">
                        <li th:each="grade : ${currentStudent.getGrades()}" class="grade" th:if="${grade.subject.id == subject.id}" th:data-grade-value="${grade.getNumericalValue()}" th:data-grade-description="${grade.getDescription()}">
                            <button onclick="setValueAndDescriptionOfGrade(this)" class="grade-button" data-toggle="modal" data-target="#grade-description-modal" th:text="*{grade.getNumericalValue()}"></button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

<!--<script>-->
<!--    function setValueAndDescriptionOfGrade(button) {-->
<!--        var gradeValue = button.parentNode.getAttributeNode("data-grade-value").value-->
<!--        var gradeDescription = button.parentNode.getAttributeNode("data-grade-description").value-->
<!--        document.getElementById("grade-value").value = gradeValue;-->
<!--        document.getElementById("grade-description").value = gradeDescription;-->
<!--    }-->
<!--</script>-->

</body>
</html>