<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik Elektroniczny</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/css/teacher-panel.css" th:href="@{/styles/css/teacher-panel.css}">
    <script defer src="../static/js/teacherPanel.js" th:src="@{/js/teacherPanel.js}"></script>
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>$(function() { alert('hello') });</script> -->

</head>
<body>
<!-- Modale -->
<div class="modal fade" id="add-class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj przedmiot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" class="modal-body" action="/add-subject" th:action="@{/teacher-panel/add-subject}">
        Wpisz nazwę przedmiotu:
        <input name="subjectName" type="text" class="form-control add-class-input">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary add-class-cancel" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary add-class-submit">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="add-student-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dodaj ucznia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class='modal-body' id="add-student-form" th:action="@{/teacher-panel/add-student}" method="post">
          <select id="class-name" name="selectedStudent" class="form-control">
            <option th:each="student : ${allStudents}" th:value="${student.getName()}" th:text="${student.getName()} + ${' '} + ${student.getSurname()}"></option>
          </select>
          <button type="submit" class="btn btn-primary add-student-submit">Dodaj</button>
        </form>

        <form class="modal-footer">
          <button type="button" class="btn btn-secondary add-student-cancel" data-dismiss="modal">Anuluj</button>
        </form>

      </div>
    </div>
  </div>
  
  <div class="modal fade" id="remove-class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuń przedmiot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy na pewno chcesz usunąc ten przedmiot?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary remove-class-cancel" data-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-primary remove-class-submit">Usuń</button>
        </div>
      </div>
    </div>
  </div> 

  <div class="modal fade" id="remove-student-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuń ucznia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy na pewno chcesz usunąc tego ucznia?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary remove-student-cancel" data-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-primary remove-student-submit">Usuń</button>
        </div>
      </div>
    </div>
  </div> 

  <div class="modal fade" id="edit-student-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Informacje o uczniu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="student-info">
            <div class="student-name"><p>Imie</p><p>Nazwisko</p><p>Tel rodzica:</p></div>
            <div class="student-grades-div">Oceny:
              <ul class="student-grades" th:each="grade : ${studentGrades}">
                <li th:text="${grade}">
                  4
                </li>
              </ul>
            </div>
            <div class="grade-info">
              <p class="first">Wartość:</p>
              <input type="text" readonly class="form-control grade-value">
              <p>Opis:</p>
              <textarea name="text" wrap="soft" readonly class="form-control grade-description"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="grade-editor">
            <button type="button" class="btn btn-secondary delete-grade"></button>
            <button type="button" class="btn edit-grade" data-toggle="modal" data-target="#add-edit-grade-modal">Edytuj</button>
            <button type="button" class="btn btn-primary add-grade" data-toggle="modal" data-target="#add-edit-grade-modal"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add-edit-grade-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dodaj ocenę</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Wpisz ocenę:
          <input type="text" class="form-control add-grade-input">
          Wpisz opis:
          <textarea name="text" wrap="soft" class="form-control add-grade-description-input"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary add-grade-cancel" data-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-primary add-grade-submit">Dodaj</button>
          <button type="button" class="btn edit-grade-submit">Edytuj</button>
        </div>
      </div>
    </div>
  </div>

<!-- Panel Nauczyciela -->
    <div class="header">
        <div class="logo">Dziennik Elektroniczny</div>
    </div>
    <div class="container">
        <div class="menu">
          <div class="menu-teacher-info">
            <div>Jan Kowalski</div>
            <button type="button" class="add-class" data-toggle="modal" data-target="#add-class-modal">
                Dodaj przedmiot
            </button>
          </div>

            <ul class="classes" th:remove="all-but-first">
              <li th:each="subject: ${subjects}">
                <div class="class">
                  <div th:value="*{subject.getId()}" th:text="*{subject.getName()}">Matematyka</div>
                  <button  type="button" class="add-student" data-toggle="modal" data-target="#add-student-modal">&#x271A</button>
<!--                  <button th:action="@{/teacher-panel/delete-subject/{subjectId}(subjectId=${subject.getId()})}"  type="button" class="remove-class" data-toggle="modal" data-target="#remove-class-modal">&#x2716</button>-->
                  <form th:action="@{teacher-panel/delete-subject}" method="post">
                    <input type="hidden" name="subjectId" th:value="${subject.getId()}" />
                    <button type="submit" class="remove-class" data-toggle="modal" data-target="#remove-class-modal">&#x2716;</button>
                  </form>
                </div>
                <ul class="students" >
                  <li th:each="student : ${subject.getStudents()}">
                    <div th:text="*{student.getName()}">Kamil Nowak</div>
                    <button type="button" class="edit-student" data-toggle="modal" data-target="#edit-student-modal">&#x2699</button>
                    <button type="button" class="remove-student" data-toggle="modal" data-target="#remove-student-modal">&#x2716</button>
                  </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>