body {
    background: #121226;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:0px;
    padding: 0px;
}

.header{
    background: #006168;
    width:100%;
    height:50px;
    flex-shrink: 0;
}

.logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    color:#DDDDDD;
    font-size: 30px;
}

.container {
    flex: 1;
    width: 100%;
}

.login-form{
    background: #DDDDDD;
    position: relative;
    width: 350px;
    height: 450px;
    top: max(260px, 46%);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    animation: fadeIn 1s;
}

.login-form img{
    background:rgb(0, 151, 136);
    position:absolute;
    width: 100px;
    height: 100px;
    left: -50px;
    top: -15px;
    border-radius: 5px;
}

.login-form::before{
    background: rgb(0, 151, 136);
    display: block;
    width: 100%;
    height: 70px;
    content: "Nauczyciel";
    color:#fff;
    line-height: 140%;
    font-size: 50px;
    font-family: fantasy;
    font-style: bold;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        filter: blur(5px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}

.login-form p{
    margin-top: 45px;
}

.login-form input{
    width: 60%;
    height:40px;
    margin-top: -5px;
    border: 2px #CCC solid;
    border-radius: 5px;
    &:focus{
        border: 2px #006168 solid;
        outline: 0;
    }
}

.login-form button{
    background: rgb(0, 151, 136);
    width: 150px;
    height:35px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    color: #fff;
    font-size: 15px;
    transition: all 500ms;
}

.login-form button:hover{
    background: rgb(0, 161, 166);
    outline: 1px rgb(0, 151, 136) solid;
}


.select {
    background: #006168;
    float: left;
    width:150px;
    height:50px;
    border: 1px solid #004148;

    text-align: center;
    line-height: 50px;
    user-select: none;
    color:#fff;
}

.select:hover{
    background-color: #005054;
}